@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;800;900&display=swap);
:root {
  --primary: #1e74f6;
  --success: #10da46;
  --alert: #de483a;
}
::selection {
  background: var(--primary);
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  background: inherit;
  font-family: "Fira Sans", sans-serif;
  border: none;
}
body {
  background: #1f1f1f;
}
input {
  padding: 10px;
  border-radius: 10px;
  outline: 4px solid #4c4c4c;
  outline-offset: 2px;
  font-size: 20px;
  color: #ccc;
}
input:focus {
  outline: 4px solid var(--primary);
}
input.error {
  outline-color: var(--alert);
}
button {
  padding: 15px 20px;
  outline: 4px solid transparent;
  outline-offset: 2px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  background: #4c4c4c;
}
button:focus {
  outline: 4px solid var(--primary);
}
button.primary {
  background: var(--primary);
}
button.success {
  background: var(--success);
  outline-color: var(--success);
}
.row {
  display: flex;
  justify-content: space-between;
}
.sign_form {
  margin: 5% auto;
  width: 800px;
  min-height: 450px;
  background: #2c2c2c;
  padding: 50px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.sign_form .row {
  gap: 100px;
  position: relative;
}
.sign_form .overlay {
  padding: 50px;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--primary);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}
.sign_form .overlay.active {
  right: 50%;
  background: var(--success);
}
.sign_form .overlay .desc {
  color: #eaeaea;
}
.sign_form .overlay button {
  margin: 50px 0 0;
  padding: 10px 20px;
  border-radius: 150px;
  background: var(--success);
}
.sign_form .overlay.active button {
  background: var(--primary);
}
.sign_form form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form.signin {
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.5s;
}
form.signin.active {
  left: 400px;
  opacity: 0;
  visibility: hidden;
}
form.signup {
  position: absolute;
  top: 0;
  right: 0;
  transition: right 0.5s;
}
form.signup.active {
  right: 400px;
  opacity: 0;
  visibility: hidden;
}
.form_title {
  margin: 0 0 20px;
  text-align: center;
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
}
